.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.list-multiplos {
  width: 30%;
  margin: auto;
  text-align: center;
}

.success {
  font-size: 22px;
  color: green;
}

.danger {
  font-size: 22px;
  color: red;
}

.blue {
  font-size: 22px;
  color: blue;
}
